@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');
body{
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
    color: white;
    background-color: rgb(18, 17, 17);
    text-align: justify;
}
body p{
    font-size: 18px;
}
/* Navbar */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-nav li{
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    transition: 0.5s ;
     
}
.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link:hover{
    color: red;
    border-bottom: 1.5px solid red;
}
.dropdown-menu{
    background: rgba(0, 0, 0, 0.6)!important;
    
}
.dropdown-menu a{
    color: white;
    font-weight: bold;
    transition: o.3s all;
}
.dropdown-menu a:hover{
    color: red;
    border-bottom: 1.5px solid red;

}
#content{
    padding-top: 100px;
    text-align: justify;
}
/* footer */
#footer{
    background-color: #101010;
    
}
#copyright{
    background-color: #101010;
}
#cpyrght{
    border-top: 1px solid white;
}
.Container-fluid .row .col-md-2 a{
    text-decoration: none;
    color: white;  
    font-size: 20px;
    transition: 1s all;  
}
.Container-fluid .row .col-md-4 a{
    text-decoration: none;
}
.Container-fluid .row .col-md-2 a:hover{
    color: red;
    border-bottom: 1px solid red;
}
/* footer */